package ${package}.${moduleName}.mapper;

import ${package}.${moduleName}.entity.${className};


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper{
	List<${className}> list(${className} ${classname});
	getById($pk.attrType $pk.attrname);
	updateByConditon(@Param("record") ${className} record,@Param("condition") ${className} condition);
	updateById(${className} ${classname});
    insertByConditon(${className} ${classname});
}
