package ${package}.${moduleName}.service;
import ${package}.${moduleName}.entity.${className};

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
}

